.m-0 {
    margin: 0
}

.mt-12 {
    margin-top: 12px
}

.mt-16 {
    margin-top: 16px
}

.mb-12 {
    margin-bottom: 12px
}

.mb-14 {
    margin-bottom: 14px
}

.mb-20 {
    margin-bottom: 20px
}

.p-18 {
    padding: 18px
}

.p-14 {
    padding: 14px
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.w-full {
    width: 100%
}

.h-44 {
    height: 44px
}

.rounded-16 {
    border-radius: 16px
}

.shadow-2 {
    box-shadow: var(--shadow-2)
}

.bg-transparent {
    background: transparent
}

.text-center {
    text-align: center
}

.inline-grid {
    display: inline-grid
}

.grid {
    display: grid
}

.flex {
    display: flex
}

.place-center {
    place-items: center
}

.items-center {
    align-items: center
}

.justify-between {
    justify-content: space-between
}

.gap-6 {
    gap: 6px
}

.gap-10 {
    gap: 10px
}

.gap-12 {
    gap: 12px
}

.gap-14 {
    gap: 14px
}

.gap-16 {
    gap: 16px
}

.gap-18 {
    gap: 18px
}

.grid-2 {
    display: grid;
    grid-template-columns:1fr 1fr
}

.overflow-auto {
    overflow: auto
}

.max-w-560 {
    max-width: 560px;
    margin: 0 auto
}

.max-w-520 {
    max-width: 520px;
    margin: 0 auto
}

.max-w-460 {
    max-width: 460px;
    margin: 0 auto
}

.max-w-820 {
    max-width: 820px;
    margin: 0 auto
}
